@mixin button($width, $height, $color) {
  display: inline-block;
  width: $width;
  height: $height;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: $color;
  background-color: $color;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: lighten($color, 10%);
  }
}

@mixin fileTitle($color) {
  background-color: $color;
  cursor: pointer;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  display: flex;
  width: 16rem;
  height: 4rem;
  padding: 1rem;
  align-items: center;

  &:hover {
    background-color: lighten($color, 15%);
  }

  div:nth-child(1) {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: $white;
    position: relative;
  }

  div:nth-child(2) {
    width: 11.5rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
  }
  img {
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p {
    overflow: hidden;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: $white;
  }
}

@mixin editorButton($color, $hoverColor) {
  background-color: $color;
  color: black;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 0.1rem solid #b5b5b5;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $hoverColor;
    color: white;
  }
}
