@mixin button($width, $height, $color) {
  display: inline-block;
  width: $width;
  height: $height;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: $color;
  background-color: $color;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: lighten($color, 10%);
  }
}

@mixin fileTitle($color) {
  background-color: $color;
  cursor: pointer;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  display: flex;
  width: 12rem;
  height: 3rem;
  padding: 1rem;
  align-items: center;
  &:hover {
    background-color: lighten($color, 15%);
  }
}

// @mixin font-face($name, $path, $weight: null, $style: null, $exts: otf ttf) {
//   $src: null;
//   $formats: (
//     woff2: "opentype",
//   );
//   @each $ext in $exts {
//     $format: map-get($formats, $ext);
//     $src: append($src, url(quote($path)) format(quote($format)), comma);
//   }
//   @font-face {
//     font-family: quote($name);
//     font-style: $style;
//     font-weight: $weight;
//     src: $src;
//   }
// }

// @include font-face("SUITE-woff2", "../../..//font/SUITE-woff2", 400, null, woff2);
