// colors
$lightgray: #f5f5f5;
$grey: #e2e4e6;
$navy: #0a0f76;
$lightpink: #fde9ee;
$pink: #eba7b1;
$darkpink: #db778f;
$white: #ffffff;

//navbar 크기
$navbar: 9.5rem;

//editor페이지 채팅, 참여인원 menu 크기
$menu: 50rem;
