.navbar-icon {
  width: 3rem;
  margin: 5rem;

  &.editor {
    position: absolute;
    top: -3.5rem;
    left: -3rem;
    width: 4rem;
  }
}

.navbar-container {
  height: $navbar;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  display: flex;
  align-items: center;
  background-color: $navy;
  &.editor {
    height: 5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.navbar-default {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-editor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-Logo {
  font-size: 3rem;
  color: $white;
  font-weight: 300;
  &.editor {
    font-size: 2rem;
  }
}
