.editor-round-button-container {
  position: absolute;
  z-index: 99;
  bottom: 4rem;
  div {
    position: relative;
    cursor: pointer;
    background-color: $darkpink;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    box-shadow: 2px 4px 4px 0 rgb(0, 0, 0, 0.3); // x , y, blur ,spread
    &:hover {
      background-color: lighten($darkpink, 20%);
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.code {
    left: 3rem;
  }
  &.personnel {
    right: 3rem;
  }
  &.chat {
    right: 12.5rem;
  }
}
