.palette-container {
  margin: 2rem 0 1rem 0;
  height: 3.5rem;
  width: 99%;
  display: flex;
  align-items: center;
  box-shadow: 1px 0.5px 1px 1px rgba(0, 0, 0, 0.2);
}

.palette-colors {
  padding: 0 4rem;
  width: 45rem;
  align-items: center;
  border-top: none;
  border-bottom: none;
  border-left: 0.5px solid $gray;
  border-right: 0.5px solid $gray;
  display: flex;
}
.color-option {
  margin-left: 1.2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: inset 0 3px 5px 0 rgb(0, 0, 0, 0.25);
}

.palette-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  border-right: solid 0.5px $gray;
  img {
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.palette-item-thickness {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #686767;
  }
}

.palette-add-color {
  margin-left: 1.5rem;

  img {
    border-top: none;
    border-bottom: 3px solid;
    border-left: none;
    border-right: none;
    cursor: pointer;
    margin-top: 0.2rem;
    width: 2.8rem;
  }
  input {
    display: none;
  }
}
