.login-form-container {
  padding: 3.5rem;
  width: 85%;
  height: 100%;
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 0.4rem 0.6rem 0.4rem 0rem #888888;
}

// 배경 이미지
.logo-form {
  width: 32%;
  margin-right: 1rem;
  overflow: hidden;
  font-size: 5rem;
}

// 로그인 form
.login-form {
  background-color: #f4f4f4;
  border-radius: 1rem;
  width: 61%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  box-shadow: 0rem 0.4rem 0.4rem 0rem #888888;
}

.login-text {
  font-size: 3.5rem;
  margin: 2rem;
  text-align: left;
}

.input-field {
  width: 42rem;
  height: 5.1rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 1.2rem;
  font-size: 1.5rem;
}

.submit-button {
  width: 42rem;
  height: 6rem;
  background-color: #0a0f76;
  color: #fff;
  border: none;
  border-radius: 1.2rem;
  box-shadow: 0rem 0.3rem 0.4rem 0rem #939393;
  font-size: 2.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 2rem;
}

.submit-button:hover {
  background-color: #2d33e0;
}

.signup-text {
  font-size: 1rem;
}

.signup-link {
  color: blue;
  cursor: pointer;
}
