.login-form-container {
  padding: 50px;
  width: 77vw;
  height: 70vh;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 4px 6px 4px 0px #888888;
}

.logo-form {
  padding: 20px;
  width: 35%;
  height: auto;
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;
}

// 로그인 form
.login-form {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px #888888;
}

.login-text {
  font-size: 2rem;
  margin-left: 88px;
  margin-bottom: 40px;
  text-align: left;
}

.input-field {
  width: 420px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin: 10px auto;
  font-size: 1.2rem;
}

.submit-button {
  width: 440px;
  height: 60px;
  padding: 10px;
  background-color: #0a0f76;
  color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 3px 4px 0px #939393;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 40px auto;
}

.submit-button:hover {
  background-color: #2d33e0;
}

.signup-text {
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}

.signup-link {
  color: blue;
  cursor: pointer;
}
