.code-mode-language-area {
  margin: 3rem 0;
  width: 100%;

  p {
    margin-left: 1rem;
    text-align: center;
  }
}

.code-mode-language-choose {
  width: 100%;
  padding: 0.3rem;
  margin-top: 1rem;
  display: flex;
  overflow-x: scroll;
}

.code-mode-language-choose::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
