.code-mode-language-area {
  margin: 3rem 0;
  width: 100%;
}
.code-mode-language {
  margin: 3rem 0 0 4rem;
}

.code-mode-language-choose {
  padding: 0.3rem;
  margin-top: 1rem;
  margin-left: 3rem;
  display: flex;
  overflow-x: scroll;
}

.code-mode-language-choose::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
