.code-file-item-container {
  background-color: #8bcbe6;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  display: flex;
  width: 12rem;
  height: 3rem;
  padding: 1rem;
  align-items: center;

  div {
    border-radius: 50%;
    background-color: $white;
    width: 1.7rem;
    height: 1.7rem;
    position: relative;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: $white;
  }
}
