.compile-container {
  height: 40rem;
  overflow-y: scroll;

  .input-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 5rem;
    overflow-y: scroll;

    .input-hint {
      width: 12%;
      font-size: 1.5rem;
      padding-top: 1.6rem;
      padding-left: 0.4rem;
    }

    .input-area {
      width: 95%;
      min-height: 5rem;
      height: auto;
      padding-left: 1rem;
      outline: none;
      font-size: 1.6rem;
      overflow-y: scroll;
      border: none;
      resize: none;
      align-content: center;
    }
  }
  .compile-result {
    min-height: 5rem;
    width: 100%;
    height: auto;
    resize: none;
    border: none;
    outline: none;
    color: black;
    font-size: 1.6rem;
    padding-top: 1.6rem;
    padding-left: 1rem;
    background-color: #ffe4ea;
    overflow-y: auto;
    word-wrap: break-word;
  }

  .compile-button {
    position: absolute;
    bottom: 0.8rem;
    left: 17.7rem;
    z-index: 100;
    background-color: #fff6f8;
    color: black;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 0.1rem solid #b5b5b5;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #ff93ad;
      color: white;
    }
  }
}
