.compile-container {
  background-color: #00a6ff;
  height: 18rem;
  width: 35rem;
  z-index: 100;
  display: none;
  position: absolute;
  bottom: 1.6rem;
  left: 3rem;

  &.show {
    display: block;
  }

  div {
    padding: 3rem;
    font-size: 4rem;
  }
}
