// .compile-container {
//   // height: 18rem;
//   height: 30rem;
//   width: 35rem;
//   z-index: 100;
//   display: none;
//   position: absolute;
//   bottom: 1.6rem;
//   left: 3rem;

//   &.show {
//     display: block;
//   }

//   div {
//     padding: 3rem;
//     font-size: 4rem;
//   }
// }

.compile-container {
  height: 40rem;
  overflow-y: scroll;

  .input-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 5rem;
    overflow-y: scroll;

    .input-hint {
      width: 12%;
      font-size: 1.5rem;
      padding-top: 1.6rem;
      padding-left: 0.4rem;
    }

    .input-area {
      width: 95%;
      min-height: 5rem;
      height: auto;
      padding-left: 1rem;
      outline: none;
      font-size: 1.6rem;
      overflow-y: scroll;
      border: none;
      resize: none;
      align-content: center;
    }
  }

  .compile-result {
    min-height: 5rem;
    width: 100%;
    height: auto;
    resize: none;
    border: none;
    outline: none;
    color: black;
    font-size: 1.6rem;
    padding-top: 1.6rem;
    padding-left: 1rem;
    background-color: #ffe4ea;
    overflow-y: auto;
    word-wrap: break-word;
  }

  .compile-button {
    @include editorButton(#fff6f8, #ff93ad);
    position: absolute;
    bottom: 0.8rem;
    left: 17.7rem;
  }
}
